h1 {
    color: white;
    background: #2626ad;	
}
.required {
	background-color: red;
	color: white;
}
h4 {
	margin: 0;
	padding-top: 15px;
}
.submit {
	margin-top: 15px;
}
.error {
    color: red;
    margin: 0;
}
.msg {
	border-top: 1px solid #c7c3c3;
    margin-top: 15px;
    padding: 10px;
    display: flex;
  	flex-direction: row;
}
.msg p {
	margin: 0;
}

.day {
	color: #8e8a8a;
    font-size: 14px;
}