h1 {
	background: #2626ad;
    color: white;
}
table {
	border-collapse: collapse;
	width: 50%;
    margin: 50px auto;
}
th {
	border:1px solid black;
	background: #2626ad;
    color: white;
}
td {
	border:1px solid black;
}
.paging {
	list-style: none;
    text-align: center;
}
.paging-list {
	display: inline-block;
}